body{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
	margin-left: auto;
    margin-right: auto;
}
#direita1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    text-align: center;
    color: tan;
    list-style: none;
    width: 200px;
    height: 2020px;
    background-color: maroon;
    float: right;
}
#ops {
    color: black;
    background-color: black;
}
#blog{
    background-color: maroon;
	color: tan;
    padding: 2%;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 80%;
   
}
header{
    background-color: maroon;
    color: tan;
    text-align: center;
    font-family: 'Arial';
    font-size: 50px;
}

#op{
	font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    width: 1020px;
    height: 2000px;
	margin-left: auto;
	margin-right: auto;
}