body{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
	margin-left: auto;
    margin-right: auto;
}
nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    text-align: center;
    color: tan;
    list-style: none;
    width: 200px;
    height:255vh;
    background-color: maroon;
    float: right;
}
#ops {
    color: black;
    background-color: black;
}
#blog{
    background-color: maroon;
	color: tan;
    padding: 2%;
    border-color: black;
    border-style: solid;
    border-bottom-width: 10%;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
   
}
header{
    background-color: maroon;
    color: tan;
    text-align: center;
    font-family: 'Arial';
    font-size: 400%;
}

main{
	font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    width: 100%;
    height: 300vh;
	margin-left: auto;
	margin-right: auto;
}
#MolduraIframe{
    height: 20%;
    width: 70%;
}
@media screen and (max-width: 600px){
    
    body{
    margin-left: none;
    margin-right: none;
    width: 100%;
    }
    
    header{
    margin-left: none;
    margin-right: none;
    width: 96%;
    }
    main{
        margin-left: none;
        margin-right: none;
        width: 100%;
        height: 1000px;
    }
    nav{
    width: 100%;
    height: 22vh;
    background-color: maroon;
    float: none;
    }
}